services:
  server:
    image: ghcr.io/commanderstorm/fotostand:latest
    build: .
    container_name: fotostand
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.navigatum-webclient.entrypoints=webs"
      - "traefik.http.routers.navigatum-webclient.tls.certresolver=leacme"
      - "traefik.http.routers.navigatum-webclient.rule=Host(`foto.tum.sexy`)"
      - "traefik.http.services.navigatum-webclient.loadbalancer.server.port=8080"
    networks:
      - traefik_traefik
    expose:
      - "8080"
    volumes:
      - ./data:/app/data
      - ./config.user.ts:/app/config.user.ts:ro
    environment:
      TZ: Europe/Berlin
      DENO_DIR: /deno-dir
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
      
networks:
  traefik_traefik:
    external: true